@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Base Classes --------------------------------------------------------*/
body{
    background-color: #1E1E1E;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
}


/* --------------------------------------------------- */
/* Bootstrap Components */

/* Navigation */

.nav-link{
    color: white;
}

.nav-link.active{
    color: #E94556;
}

.nav-brand{
    margin: auto;
}

/* Card */

.card-img{
    width: 30%;
    height: 450px;
    float: right;
    margin-bottom: 10px;
}

/* Footer */
.container, .text-center{
    margin: auto;
}

.button-toolbar{
    margin-top: 50px;
    float:right;
}

footer {
    height: 15vh;
    background-color: #3662D4;
}

/* ------------------------------------------------------------ */
/* Bootstrap classes */
.active {
    color: #E94556;
}

/* ------------------------------------------------ */
/* Created Classes */



/* ------------------------------------------------ */
/*  Watch-list Styling  */

.right-card{
    width: 100%;
    height: 450px;
    float: left;
}

.watchlist-card-img{
    width: 60%;
}


@media (min-width :768px){
    .watchlist-card-img {
        width: auto;
        height: 350px;
    }
}

@media (min-width :1200px){
    .watchlist-card-img {
        width: auto;
        height: 450px;
    }
}

/* ------------------------------------------------ */
/*  Individual Movie Styling  */

.side-cards{
    margin-top: 25px;
}

@media (min-width :768px){
    .right-img {
        width: auto;
        height: 250px;
    }
}

@media (min-width :1200px){
    .right-img {
        width: auto;
        height: 350px;
    }
}


@media (min-width :768px){
    .side-card-img {
        width: auto;
        height: 350px;
    }
}

@media (min-width :1200px){
    .side-card-img {
        width: auto;
        height: 450px;
    }
}